* {
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vw;
    background-color:rgb(221, 222, 234)
}


.flex-container {
    /*border: 4px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexbox-1 {
    /*border: 1px solid green;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    padding: 20px;
    margin-left: 250px;
    color: black;
}

.flexbox-2 {
    /*border: 4px solid yellow;*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    
}

.inputBox {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 100px;

   
}

.features {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.container {
    /*background-color: rgb(255, 255, 255);*/
    background-color: rgba(255, 255, 255);
    border: 1px ridge grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
    border-radius: 5px;
}

.row {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    /*height: 20px;*/
    /*gap: 2px;*/
    /*margin-bottom: 2px;*/
}

.column {
    /*border: 1px solid black;*/
    /*width: 20px;*/
    /*min-width: 20px;*/
    /*background-color: yellow;*/
}

.header {

}

.btnCreate, .btnClear, .inputSlider {
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 30px;
    background-color: rgb(56, 56, 58);
    color:white;
    padding: 5px;
}


.btnCreate:disabled {
    background-color: rgb(185, 201, 201);
    color:rgb(140, 140, 140);
}

.btnCreate:hover {
    background-color: rgb(90, 90, 91);;
}

.btnClear:disabled {
    background-color: rgb(185, 201, 201);
    color:rgb(140, 140, 140);
}

.btnClear:hover {
    background-color: rgb(90, 90, 91);;
}

.inputSlider {
    width: 100%;
}

.rangeValue {
    text-align: center;
    font-size: 30px;
    
}

.txtFeat {
    font-size: 25px;
    margin-bottom: 5px;
}

.btnNormal, .btnColor, .btnDark {
    font-size: 25px;
    width: 300px;
    border-radius: 20px;
    background-color: rgb(56, 56, 58);
    color:white;
    padding: 5px;
}

.btnNormal {
    margin-bottom: 10px;
}

.btnNormal:hover {
    background-color: rgb(90, 90, 91);;
}

.btnColor {
    margin-bottom: 10px;
}

.btnColor:hover {
    background-color: rgb(90, 90, 91);;
}

.btnDark:hover {
    background-color: rgb(90, 90, 91);;
}


